---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "Sobre mí";

const identity = {
	firstName: "Kryword",
	country: "España",
	occupation: "Ingeniero de Software",
	hobbies: ["videojuegos", "juegos de mesa", "fotografía", "cocina", "programación", "tecnología"],
}

const skills = ["HTML", "CSS", "JavaScript", "React", "Java", "Astro", "escribir documentos técnicos"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
                color: green;
                font-size: 4rem;
            }
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase)
            }
        </style>
	</head>
	<body>
        <Header />

		<h1>{pageTitle}</h1>
        <h2>Este es mi nuevo sitio web con Astro.</h2>

        <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es mi segunda página.</p>
        <p>Este sitio web se actualizará una vez se complete más contenido del tutorial, volveré habitualmente para cambiarlo.</p>

        <p>Aquí hay algunos datos sobre mí:</p>
        <ul>
            <li>Mi nombre es {identity.firstName}.</li>
            <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
                <li>Dos de mis hobbies son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
            }
        </ul>
        <p>Mis skills son:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>Estoy feliz de aprender Astro!</p>}
        {finished && <p>He terminado con este tutorial!</p>}
        {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
        <Footer />;
	</body>
</html>
